<footer class="footer">
  <div class="container">
    <div class="content is-centered">
      <p>
        <strong xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Bulma</strong> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://jgthms.com" property="cc:attributionName" rel="cc:attributionURL">Jeremy Thomas</a>. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="{{ site.github }}">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/javascript/jquery-2.2.0.min.js"></script>
<script src="{{ site.baseurl }}/javascript/bulma.js"></script>

{% if page.route == 'index' %}
  <script type="text/javascript" src="{{ site.baseurl }}/javascript/index.js"></script>
{% endif %}
