<footer class="footer">
  <div class="container">
    <div class="content is-centered">
      <p>
        <strong xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Bulma</strong> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://jgthms.com" property="cc:attributionName" rel="cc:attributionURL">Jeremy Thomas</a>. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="{{ site.github }}">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/javascript/jquery-2.2.0.min.js"></script>
<script src="{{ site.baseurl }}/javascript/bulma.js"></script>

{% if page.route == 'index' %}
  <style type="text/css">
    @media screen and (max-width: 979px) {
      .title.is-2 .icon.is-large {
        display: none;
      }
    }

    .title.is-2 {
      position: relative;
    }

    .title.is-2 a {
      color: #222324;
    }

    .title.is-2 a:hover {
      color: #1fc8db;
    }

    .title.is-2 .icon.is-large {
      left: -72px;
      position: absolute;
      top: -1px;
    }

    .hero .title.is-2 a {
      color: white;
    }

    .hero .title.is-2 a:hover {
      color: white;
      text-decoration: underline;
    }
  </style>
  <script type="text/javascript" src="{{ site.baseurl }}/javascript/index.js"></script>
{% endif %}
