<header class="header">
  <div class="container">
    <div class="header-left">
      <a class="header-item" href="{{ site.baseurl }}/">
        {% if page.route == 'index' %}
          <img src="{{ site.baseurl }}/images/bulma.png" alt="{{ site.title }}">
        {% else %}
          <img src="{{ site.baseurl }}/images/bulma-white.png" alt="{{ site.title }}">
        {% endif %}
      </a>
    </div>
    <span id="header-toggle" class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="header-menu" class="header-right header-menu">
      <a class="header-item {% if page.route == 'index' %}is-active{% endif %}" href="{{ site.baseurl }}/">
        Home
      </a>
      <a class="header-item {% if page.layout == 'documentation' %}is-active{% endif %}" href="{{ site.documentation }}">
        Documentation
      </a>
      <a class="header-item {% if page.route == 'blog' %}is-active{% endif %}" href="{{ site.baseurl }}/blog/">
        Blog
      </a>
      {% if page.route == 'index' %}
        <span class="header-item">
          <a id="github" class="button is-dark is-outlined" href="{{ site.github }}">
            <i class="fa fa-github"></i>
            GitHub
          </a>
          <a id="twitter"
          class="button"
          data-social-network="Twitter"
          data-social-action="tweet"
          data-social-target="{{ site.url }}"
          target="_blank"
          href="https://twitter.com/intent/tweet?text={{ site.title | urlencode }}&url={{ site.url }}&via=jgthms">
            <span class="fa fa-twitter"></span>
            Tweet
          </a>
        </span>
      {% else %}
        <span class="header-item">
          <a class="button is-info is-outlined is-inverted" href="{{ site.github }}">
            <i class="fa fa-github"></i>
            GitHub
          </a>
          <a class="button is-info is-outlined is-inverted"
          data-social-network="Twitter"
          data-social-action="tweet"
          data-social-target="http://bulma.io/"
          href="https://twitter.com/intent/tweet?text={{ 'Bulma: a modern CSS framework based on Flebox' | urlencode }}&url=http://bulma.io/&via=jgthms">
            <span class="fa fa-twitter"></span>
            Tweet
          </a>
        </span>
      {% endif %}
    </div>
  </div>
</header>
