<nav class="header">
  <div class="container">
    <div class="header-left">
      <a class="header-tab {% if page.doc-subtab == 'container' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/layout/container/">
        Container
      </a>
      <a class="header-tab {% if page.doc-subtab == 'header' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/layout/header/">
        Header
      </a>
      <a class="header-tab {% if page.doc-subtab == 'hero' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/layout/hero/">
        Hero
      </a>
      <a class="header-tab {% if page.doc-subtab == 'section' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/layout/section/">
        Section
      </a>
      <a class="header-tab {% if page.doc-subtab == 'footer' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/layout/footer/">
        Footer
      </a>
    </div>
  </div>
</nav>
