<nav class="header">
  <div class="container">
    <div class="header-left">
      <a class="header-tab {% if page.doc-subtab == 'buttons' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/elements/buttons/">
        Buttons
      </a>
      <a class="header-tab {% if page.doc-subtab == 'controls' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/elements/controls/">
        Form controls
      </a>
      <a class="header-tab {% if page.doc-subtab == 'titles' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/elements/titles/">
        Titles
      </a>
      <a class="header-tab {% if page.doc-subtab == 'content' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/elements/content/">
        Content
      </a>
      <a class="header-tab {% if page.doc-subtab == 'tags' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/elements/tags/">
        Tags
      </a>
      <a class="header-tab {% if page.doc-subtab == 'messages' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/elements/messages/">
        Messages
      </a>
      <a class="header-tab {% if page.doc-subtab == 'notifications' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/elements/notifications/">
        Notifications
      </a>
      <a class="header-tab {% if page.doc-subtab == 'icons' %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/elements/icons/">
        Icons
      </a>
    </div>
  </div>
</nav>
