<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Business - Free Bulma template</title>
    <meta name="description" content="Free HTML template with all Bulma elements">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.17/css/bulma.min.css"> -->
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-left">
          <a class="header-item">
            <img src="/images/bulma.png" alt="Description">
          </a>
        </div>
        <span class="header-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="header-right header-menu">
          <a class="header-item">
            Home
          </a>
          <a class="header-item">
            Features
          </a>
          <a class="header-item">
            Team
          </a>
          <a class="header-item">
            Help
          </a>
          <span class="header-item">
            <a class="button">
              Log in
            </a>
            <a class="button is-info">
              Sign up
            </a>
          </span>
        </div>
      </div>
    </header>

    <section class="hero is-medium">
      <div class="hero-content">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-6">
              <h1 class="title is-2">
                Business
              </h1>
              <h2 class="subtitle is-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id risus turpis. Proin ut eleifend ligula. Cras euismod erat ullamcorper, condimentum tortor eget, gravida lacus.
              </h2>
              <p class="control is-grouped">
                <a class="button is-large is-info">
                  Get started
                </a>
                <a class="button is-large">
                  Learn more
                </a>
              </p>
            </div>
            <div class="column is-5 is-offset-1">
              <figure class="image is-4by3">
                <img src="http://placehold.it/800x600" alt="Description">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero is-info">
      <div class="hero-content">
        <div class="container">
          <div class="columns">
            <div class="column has-text-centered">
              <p>
                <span class="icon is-large">
                  <i class="fa fa-check"></i>
                </span>
              </p>
              <h3 class="title">Simple</h3>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id risus turpis. Proin ut eleifend ligula.</p>
            </div>
            <div class="column has-text-centered">
              <p>
                <span class="icon is-large">
                  <i class="fa fa-bolt"></i>
                </span>
              </p>
              <h3 class="title">Powerful</h3>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id risus turpis. Proin ut eleifend ligula.</p>
            </div>
            <div class="column has-text-centered">
              <p>
                <span class="icon is-large">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
              <h3 class="title">Secure</h3>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id risus turpis. Proin ut eleifend ligula.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
