---
layout: default
route: documentation
---

<section class="hero is-info is-left is-bold">
  <div class="hero-header">
    {% include header.html %}
  </div>

  <div class="hero-content">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Documentation
          </p>
          <p class="subtitle">
            Everything you need to <strong>create a website</strong> with Bulma
          </p>
        </div>
        <div class="column is-narrow">
          {% include carbon.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="hero-footer">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li {% if page.doc-tab == 'overview' %}class="is-active"{% endif %}>
            <a href="{{ site.documentation }}">Overview</a>
          </li>
          <li {% if page.doc-tab == 'modifiers' %}class="is-active"{% endif %}>
            <a href="{{ site.baseurl }}/documentation/modifiers/syntax">Modifiers</a>
          </li>
          <li {% if page.doc-tab == 'grid' %}class="is-active"{% endif %}>
            <a href="{{ site.baseurl }}/documentation/grid/columns">Grid</a>
          </li>
          <li {% if page.doc-tab == 'navbar' %}class="is-active"{% endif %}>
            <a href="{{ site.baseurl }}/documentation/navbar/">Navbar</a>
          </li>
          <li {% if page.doc-tab == 'elements' %}class="is-active"{% endif %}>
            <a href="{{ site.baseurl }}/documentation/elements/button/">Elements</a>
          </li>
          <li {% if page.doc-tab == 'components' %}class="is-active"{% endif %}>
            <a href="{{ site.baseurl }}/documentation/components/box/">Components</a>
          </li>
          <li {% if page.doc-tab == 'layout' %}class="is-active"{% endif %}>
            <a href="{{ site.baseurl }}/documentation/layout/container/">Layout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

{{ content }}
